@import "normalize.css";

$header-background-color: #212529;
$sidebar-background-color: $header-background-color;

$header-height: 50px;
$sidebar-mt: $header-height;
$general-ml: 20px;
$general-mr: 20px;

$sidebar-width: 200px;
$sidebar-transition-duration: 200ms;
$sidebar-transition-type: ease-in-out;
$sidebar-icon-color: rgba(255, 255, 255, 0.25);
$sidebar-item-color: rgba(255, 255, 255, 0.5);

:root {
	--primary: #fe2c55;
	--black-color: #000;
	--white-color: #fff;
	--text-color: #161823;

	--font-family: "Roboto", sans-serif;

	--header-background-color: #{$header-background-color};
	--sidebar-background-color: #{$sidebar-background-color};

	--header-height: #{$header-height};
	--sidebar-mt: #{$sidebar-mt};

	--general-ml: #{$general-ml};
	--general-mr: #{$general-mr};
	--sidebar-width: #{$sidebar-width};
	--sidebar-transition-duration: #{$sidebar-transition-duration};
	--sidebar-transition-type: #{$sidebar-transition-type};
	--sidebar-icon-color: #{$sidebar-icon-color};
	--sidebar-item-color: #{$sidebar-item-color};
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: var(--font-family);
	font-size: 1.6rem;
	line-height: 1.5;
	text-rendering: optimizespeed;
	color: var(--text-color);
}

button,
input,
[tabindex] {
	outline: none;
	border: none;
}

a {
	color: var(--text-color);
	text-decoration: none;
}
