.sub-menu,
.item {
	display: block;
	padding-left: var(--general-ml);
	width: 100%;
	color: var(--sidebar-item-color);

	.title {
		padding-top: 10px;
		width: 100%;
		color: var(--sidebar-item-color);
		text-decoration: none;
		font-size: 1.6rem;
		font-weight: 400;
		&:hover {
			color: var(--white-color);
			cursor: pointer;
		}
	}
}

.sub-menu {
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.icon {
			margin-right: 10px;
			height: 1.5rem;
		}
	}
}

.item {
	text-decoration: none;
}
