.wrapper {
	position: fixed;
	top: 0;
	left: 0;

	margin-top: var(--sidebar-mt);
	width: var(--sidebar-width);
	height: 100vh;

	background-color: var(--header-background-color);

	transition: left var(--sidebar-transition-duration)
		var(--sidebar-transition-type);

	overflow: scroll;

	&.hide {
		left: calc(0px - var(--sidebar-width));
		transition: left var(--sidebar-transition-duration)
			var(--sidebar-transition-type);
	}
}
